/* ---------------------------------- */
/* Contact Section Styles             */
/* ---------------------------------- */

/* Base styles for contact section */
#contact-1389 {
    padding: var(--sectionPadding);
    background-color: #f7f7f7;
    position: relative;
    z-index: 1;
}

#contact-1389 .cs-container {
    width: 100%;
    max-width: 36.5rem; /* Adjusted to change at tablet breakpoint */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Changed from stretch to start */
    gap: clamp(2rem, 3vw, 3rem);
    position: relative;
}

#contact-1389 .cs-content {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Ensure alignment is consistent */
}

#contact-1389 .cs-title, #contact-1389 .cs-text {
    max-width: 100%; /* Make sure text does not overflow its container */
}

#contact-1389 .cs-text {
    margin-bottom: 1rem;
}

/* List and icon styles */
#contact-1389 .cs-ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

#contact-1389 .cs-li {
    list-style: none;
    display: flex;
    align-items: flex-start;
    gap: 1.25rem;
}

#contact-1389 .cs-icon-wrapper {
    width: 3.75rem;
    height: 3.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
}

#contact-1389 .cs-icon {
    width: 1.5rem;
    height: auto;
}

#contact-1389 .cs-form {
    width: 100%;
    max-width: 39.375rem;
    padding: clamp(1.5rem, 5.18vw, 3rem);
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.75rem;
}

#consentBox { 
    background: #fff; 
    padding: 20px; 
    border-radius: 15px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    text-align: center; 
    max-width: 20.375rem;
    max-height: 10rem;
} 

#consentBox.hide { 
    opacity: 0; 
    pointer-events: none; 
    transform: scale(0.8); 
    transition: all 0.3s ease; 
} 

::selection { 
    color: #fff; 
    background: #000000; 
} 

#consentContent p { 
    color: #858585; 
    margin: 10px 0 20px 0; 
} 

#consentContent .buttons { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-top: 20px; 
} 

.consentButton, 
.rejectButton { 
    padding: 12px 30px; 
    border: none; 
    outline: none; 
    color: #fff; 
    font-size: 16px; 
    font-weight: 500; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: all 0.3s ease; 
} 

.consentButton { 
    background: #2a910b; 
    margin-right: 10px; 
} 

.rejectButton { 
    color: #111211; 
    background: transparent; 
    border: 2px solid #099c2c; 
    text-decoration: none; 
} 

#consentBox img { 
    max-width: 90px; 
} 

#consentHeader { 
    font-size: 25px; 
    font-weight: 600; 
    margin-top: 10px; 
}

/* Media Queries */
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #contact-1389 .cs-container {
        max-width: 80rem;
        flex-direction: row;
        justify-content: space-between;
    }

    #contact-1389 .cs-content {
        width: 47%;
        flex: none;
        order: 2;
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #contact-1389 .cs-form {
        width: 46%;
        max-width: 36.125rem;
    }
}

/* Large Desktop - 1500px */
@media only screen and (min-width: 93.75rem) {
    #contact-1389 .cs-graphic {
        display: block;
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #contact-1389 {
      background-color: rgba(0, 0, 0, 0.2);
  }
  body.dark-mode #contact-1389 .cs-title,
  body.dark-mode #contact-1389 .cs-text,
  body.dark-mode #contact-1389 .cs-header,
  body.dark-mode #contact-1389 .cs-link,
  body.dark-mode #contact-1389 .cs-label,
  body.dark-mode #contact-1389 .cs-h3 {
      color: var(--bodyTextColorWhite);
  }
  body.dark-mode #contact-1389 .cs-contact-text,
  body.dark-mode #contact-1389 .cs-link {
      opacity: 0.8;
  }
  body.dark-mode #contact-1389 .cs-icon {
      /* makes it white */
      filter: grayscale(1) brightness(1000%);
  }
  body.dark-mode #contact-1389 .cs-form {
      background-color: var(--medium);
  }
  body.dark-mode #contact-1389 .cs-input {
      background-color: rgba(255, 255, 255, 0.2);
      color: #fff;
  }
  body.dark-mode #contact-1389 .cs-input::placeholder {
      color: #fff;
      opacity: 0.8;
  }
  body.dark-mode #contact-1389 .cs-graphic {
      opacity: 0.4;
  }
  body { 
	font-family: Arial, sans-serif; 
	display: flex; 
	justify-content: center; 
	align-items: center; 
	height: 100vh; 
	margin: 0; 
	background: #f3f3f3; 
} 
  
}

                              