/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #faq-1237 {
      padding: var(--sectionPadding);
      position: relative;
      overflow: hidden;
      z-index: 1;
  }
  #faq-1237 .cs-container {
      width: 100%;
      /* chnages to 1280px at desktop */
      max-width: 36.5rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* 40px - 48px */
      gap: clamp(2.5rem, 5vw, 3rem);
  }
  #faq-1237 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
  }

  #faq-1237 .cs-title {
      margin: 0;
  }
  #faq-1237 .cs-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      /* 16px - 20px */
      gap: clamp(1rem, 2.4vw, 1.25rem);
  }
  #faq-1237 .cs-faq-group {
      width: 100%;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      /* 16px - 20px */
      gap: clamp(1rem, 2.4vw, 1.25rem);
  }
  #faq-1237 .cs-faq-item {
      list-style: none;
      width: 100%;
      background-color: #f7f7f7;
      padding: 0;
      box-sizing: border-box;
      transition: border-bottom 0.3s;
  }
  #faq-1237 .cs-faq-item.active {
      background-color: #1a1a1a;
  }
  #faq-1237 .cs-faq-item.active .cs-button {
      color: var(--secondary);
  }
  #faq-1237 .cs-faq-item.active .cs-button:before {
      background-color: var(--primary);
      transform: rotate(315deg);
  }
  #faq-1237 .cs-faq-item.active .cs-button:after {
      background-color: var(--primary);
      transform: rotate(-315deg);
  }
  #faq-1237 .cs-faq-item.active .cs-number {
      background-color: #1a1a1a;
      color: var(--secondary);
  }
  #faq-1237 .cs-faq-item.active .cs-number:before {
      height: 100%;
      opacity: 0.3;
  }
  #faq-1237 .cs-faq-item.active .cs-number:after {
      width: 100vw;
      opacity: 0.3;
  }
  #faq-1237 .cs-faq-item.active .cs-item-p {
      height: auto;
      /* 16px - 24px */
      padding-top: clamp(1rem, 2.5vw, 1.5rem);
      padding-bottom: clamp(1rem, 2.5vw, 1.5rem);
      color: var(--bodyTextColorWhite);
      opacity: 0.8;
  }
  #faq-1237 .cs-button {
      /* 16px - 20px */
      font-size: clamp(1rem, 2vw, 1.25rem);
      line-height: 1.2em;
      text-align: left;
      font-weight: bold;
      width: 100%;
      padding: 0 2.5rem 0 0;
      border: none;
      background: transparent;
      color: var(--headerColor);
      overflow: hidden;
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      /* 16px - 24px */
      gap: clamp(1rem, 2.5vw, 1.5rem);
      position: relative;
      transition:
          background-color 0.3s,
          color 0.3s;
  }
  #faq-1237 .cs-button:hover {
      cursor: pointer;
  }
  #faq-1237 .cs-button:before {
      /* left line */
      content: "";
      width: 0.5rem;
      height: 0.125rem;
      background-color: var(--headerColor);
      opacity: 1;
      border-radius: 50%;
      position: absolute;
      display: block;
      top: 45%;
      right: 1.1875rem;
      transform: rotate(45deg);
      /* animate the transform from the left side of the x axis, and the center of the y */
      transform-origin: left center;
      transition: transform 0.5s;
  }
  #faq-1237 .cs-button:after {
      /* right line */
      content: "";
      width: 0.5rem;
      height: 0.125rem;
      background-color: var(--headerColor);
      opacity: 1;
      border-radius: 50%;
      position: absolute;
      display: block;
      top: 45%;
      right: 1rem;
      transform: rotate(-45deg);
      /* animate the transform from the right side of the x axis, and the center of the y */
      transform-origin: right center;
      transition: transform 0.5s;
  }
  #faq-1237 .cs-number {
      font-size: 1.25rem;
      line-height: 1.5em;
      /* 52px - 72px */
      width: clamp(3.25rem, 6vw, 4.5rem);
      color: var(--headerColor);
      background-color: #e8e8e8;
      display: flex;
      justify-content: center;
      align-items: center;
      /* prevents flexbox from squishing it */
      flex: none;
      position: relative;
      transition: background-color 0.3s;
  }
  #faq-1237 .cs-number:before {
      /* yellow border right on active */
      content: "";
      width: 1px;
      height: 0;
      background: var(--primary);
      opacity: 0;
      position: absolute;
      display: block;
      top: -1px;
      right: 0;
      transition:
          opacity 0.3s,
          height 0.6s;
      transition-delay: 0.1s;
  }
  #faq-1237 .cs-number:after {
      /* yellow border bottom on active */
      content: "";
      width: 0;
      height: 1px;
      background: var(--primary);
      opacity: 0;
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      transition:
          opacity 0.3s,
          width 1s;
  }
  #faq-1237 .cs-button-text {
      width: 90%;
      /* 16px - 24px */
      padding: clamp(1rem, 2.5vw, 1.5rem) 0;
      display: block;
  }
  #faq-1237 .cs-item-p {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      width: 90%;
      max-width: 33.8125rem;
      height: 0;
      margin: 0;
      /* 16px - 24px */
      padding: 0 clamp(1rem, 2.5vw, 1.5rem);
      opacity: 0;
      color: var(--bodyTextColor);
      /* clips the text so it doesn't show up */
      overflow: hidden;
      transition:
          opacity 0.3s,
          padding-bottom 0.3s,
          padding-top 0.3s;
  }
  #faq-1237 .cs-floater {
      display: none;
  }
}
/* tablet - 768px */
@media only screen and (min-width: 48rem) {
  #faq-1237 .cs-container {
      max-width: 80rem;
  }
  #faq-1237 .cs-wrapper {
      flex-direction: row;
      align-items: flex-start;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #faq-1237 {
    background-color: rgba(0, 0, 0, 0.2);
  }
  body.dark-mode #faq-1237 .cs-title,
  body.dark-mode #faq-1237 .cs-item-p {
      color: var(--bodyTextColorWhite);
  }
  body.dark-mode #faq-1237 .cs-item-p {
      opacity: 0.8;
  }
  body.dark-mode #faq-1237 .cs-faq-item {
      background-color: rgba(0, 0, 0, 0.2);
  }
  body.dark-mode #faq-1237 .cs-faq-item.active {
      background-color: rgba(0, 0, 0, 0.6);
      color: var(--secondary);
  }
  body.dark-mode #faq-1237 .cs-faq-item.active .cs-button {
      color: var(--secondary);
  }
  body.dark-mode #faq-1237 .cs-faq-item.active .cs-button:before,
  body.dark-mode #faq-1237 .cs-faq-item.active .cs-button:after {
      background-color: var(--secondary);
  }
  body.dark-mode #faq-1237 .cs-faq-item.active .cs-number {
      background-color: rgba(0, 0, 0, 0.2);
  }
  body.dark-mode #faq-1237 .cs-button {
      color: var(--bodyTextColorWhite);
  }
  body.dark-mode #faq-1237 .cs-button:before,
  body.dark-mode #faq-1237 .cs-button:after {
      background-color: var(--bodyTextColorWhite);
  }
  body.dark-mode #faq-1237 .cs-number {
      background-color: rgba(0, 0, 0, 0.2);
      color: var(--bodyTextColorWhite);
  }
}

                              